$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/responsive';

.badge-front {
	position: relative;
}

.badge-back {
	position: relative;
}

.badge-base {
	width: 50mm;
}

.badge-green-blank {
	width: 32mm;
	position: absolute;
	bottom: 15mm;
	left: 15mm;
}

.badge-logo, .badge-qr {
	width: 38mm;
	height: 38mm;
	background-color: red;
	position: absolute;
	top: 25mm;
	left: 6mm;
}

[contenteditable]:hover, [contenteditable="true"]:hover { outline: 2px dashed #333; }
