$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/responsive';

.badge-front {
	position: relative;
}

.badge-back {
	position: relative;
}

.badge-base {
	width: 50mm;
	height: 80mm;
	outline: 1px dashed #333;
}

.badge-green-blank {
	width: 32mm;
	position: absolute;
	bottom: 14mm;
	left: 15mm;
}

.badge-logo, .badge-qr {
	width: 36mm;
	height: 36mm;
	background-color: red;
	position: absolute;
	top: 28mm;
	left: 7mm;
}

.badge-codename {
	width: 36mm;
	text-align: center;
	font-weight: bold;
	color: #333;
	position: absolute;
	top: 23mm;
	left: 7mm;
}

.badge-community {
	width: 34mm;
	height: 10mm;
	display: inline-block;
	overflow: hidden;
	line-height: 10mm;
	text-align: center;
	font-weight: bold;
	color: #333;
	position: absolute;
	bottom: 14mm;
	left: 14mm;
}

.editable:hover { outline: 2px dashed #333; }
